{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Lista de Produtos</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
</head>
<body class="bg-gradient-to-b from-blue-400 to-blue-600 min-h-screen flex flex-col">
    <nav class="bg-gray-900 text-white">
        <div class="container mx-auto py-4 flex items-center justify-between">
            <a class="navbar-brand flex items-center" href="{% url 'consultar_produto' %}">
                <img src="{% static 'bootstrap/css/logo-perto.png' %}" alt="Logo" width="60" height="34" class="mr-2">
                <span>Cotações</span>
            </a>
            <a href="{% url 'consultar_produto' %}" class="text-white font-bold py-2 px-4 rounded bg-blue-500 hover:bg-blue-700">
                <i class="fas fa-arrow-left"></i> Voltar à consulta
            </a>
        </div>
    </nav>
    <div class="container mx-auto py-10 px-4 flex-grow">
        <h1 class="text-3xl font-bold mb-8 text-white text-center">Lista de Produtos</h1>
        <div class="bg-white bg-opacity-75 p-8 rounded-lg shadow-lg">
            <table class="min-w-full bg-white">
                <thead>
                    <tr>
                        <th class="py-2 px-4">Código</th>
                        <th class="py-2 px-4">Nome</th>
                        <th class="py-2 px-4">Valor</th>
                        <th class="py-2 px-4">Última Atualização</th>
                    </tr>
                </thead>
                <tbody class="divide-y divide-cyan-600 text-center">
                    {% for produto in produtos %}
                    <tr class="hover:bg-gray-200 cursor-pointer" onclick="openModal('{{ produto.codigo }}')">
                        <td class="py-2 px-4 text-left">{{ produto.codigo }}</td>
                        <td class="py-2 px-4">{{ produto.nome }}</td>
                        <td class="py-2 px-4">{{ produto.valor }}</td>
                        <td class="py-2 px-4">{{ produto.data_ultima_atualizacao }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div id="produtoModal" class="fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-75 hidden">
        <div class="bg-white rounded-lg overflow-hidden shadow-xl transform transition-all sm:max-w-lg w-full mx-4">
            <div id="modalContent">
                <!-- O conteúdo será carregado via AJAX -->
            </div>
        </div>
    </div>

    <script>
        function openModal(codigo) {
            $.ajax({
                url: "{% url 'consultar_produto' %}?codigo=" + codigo,
                success: function(data) {
                    $('#modalContent').html($(data).find('#produtoModal').html());
                    $('#produtoModal').removeClass('hidden');
                }
            });
        }

        function fecharModal() {
            $('#produtoModal').addClass('hidden');
        }

        $(document).on('click', '#produtoModal button[onclick="fecharModal()"]', function() {
            fecharModal();
        });
    </script>
</body>
</html>
